  <div class="col-sm-1 col-sm-offset-1">
    {{sad-face question}}
  </div>
  <div class="col-sm-6">
    {{#link-to 'question' question.id}}{{question.content}}{{/link-to}}
  </div>
  <div class="col-sm-4">
    {{question.author}}
  </div>
