body {
  font-family: 'Play';
  color: #000;
}

h2 {
  text-align: center;
}

h2 {
  margin-top: 0px !important;
}

h4 {
  text-align: center;
}

a, a:visited {
  color: #FFF;
}

a:hover {
  text-decoration: underline;
  color: #6f99e5;
}

.index-label {
  margin-top: 0px !important;
}

.well {
  width: 63%;
  display: block;
  margin: 30px auto;
  background-color: #000;
  color: #FFF;
  border-radius: 20px;
}

.btn, .btn:hover, btn:focus {
  display: block;
  margin: 0 auto;
  background: #FFF;
  color: #000;
  border: 1px solid #000;
}

.bg-color-change {
  background-color: #435e8c;
}

.new-question {
  width: 40%;
}

#footer {
  margin-top: 30px;
  text-align: center;
}

#logo {
  display: block;
  margin: 15px auto;
}

#edit {
  cursor: pointer;
}

#edit img {
  width: 15px;
  height: auto;
  margin-left: 5px;
  margin-bottom: 4px;
}

#question-content {
  margin-top: 30px;
}

#change-theme {
  margin: 10px auto;
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-left: 5px !important;
  padding-right: 5px !important;

}
