<div class="container-fluid">
  <header id="header">
    <img src="assets/images/riddler.png">
    <h2>Riddle Me This</h2>
  </header>

  {{outlet}}

  <footer id="footer">
    <h6>&copy; 2016 Katrina Hirsch</h6>
  </footer>
</div>
