<div class="container-fluid">
  <header id="header">
    {{#link-to 'index'}}<img id="logo" src="assets/images/riddler.png">{{/link-to}}
    <h2>Riddle Me This</h2>
  </header>

  {{outlet}}

  <footer id="footer">
    <span><small>&copy; 2016 Katrina Hirsch</small></span>
  </footer>
</div>
